/* color code */
/* line 7, ../scss/profile.scss */
.profile-header {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: center;
  justify-content: center;
  height: 250px;
  margin-bottom: 15px;
  overflow: hidden;
}
/* line 15, ../scss/profile.scss */
.profile-header .cover-area {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding-right: 10px;
  		/*
  
  		.quick-action{
  			background: $white;
  			display: table;
  			width: 100%;
  
  			& > div{
  				@include box-sizing(border-box);
  				border-color: $black-10;
  				border-style: solid;
  				border-width: 0 0 1px 1px;
  				display: table-cell;
  				height: 59px;
  				width: auto;
  			}
  
  			.follow{
  				font-size: 0;
  				padding: 0 20px;
  				vertical-align: middle;
  				width: 310px;
  
  				a,
  				span,
  				.keepo-icon{
  					display: inline-block;
  					vertical-align: middle;
  				}
  
  				a{
  					@include box-shadow($dark-tosca 0 2px 0);
  					@include transition(background-color .3s linear);
  					background: $tosca;
  					color: $white;
  					font-size: 0;
  					height: 28px;
  					line-height: 28px;
  					text-align: center;
  					width: 140px;
  
  					&:hover{
  						background: $dark-tosca;
  					}
  
  					span{
  						font-size: 12px;
  						font-weight: 800;
  						text-transform: uppercase;
  					}
  
  					.keepo-icon{
  						font-size: 18px;
  
  						&::before{
  							margin: 0 5px 0 0;
  						}
  					}
  				}
  
  				.total-follower{
  					@include box-shadow($black-10 0 2px 0);
  					@include box-sizing(border-box);
  					border-color: $black-10;
  					border-style: solid;
  					border-width: 1px 1px 0 0;
  					color: $black-30;
  					font-size: 14px;
  					height: 28px;
  					line-height: 26px;
  					padding: 0 15px;
  				}
  			}
  
  
  			.search{
  				border-right: 1px solid $black-10;
  
  				input[type="text"]{
  					@include box-sizing(border-box);
  					@include input-placeholder { color: $black-20; }
  					border: none;
  					color: $black-80;
  					height: 59px;
  					font-size: 16px;
  					padding: 0 20px;
  					width: 100%;
  
  					&:focus{
  						outline: none;
  					}
  				}
  			}
  		}
  
  		*/
}
/* line 19, ../scss/profile.scss */
.profile-header .cover-area .cover {
  height: 190px;
  position: relative;
}
/* line 23, ../scss/profile.scss */
.profile-header .cover-area .cover .img {
  height: 190px;
  overflow: hidden;
  position: relative;
  width: 100%;
}
/* line 29, ../scss/profile.scss */
.profile-header .cover-area .cover .img img {
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  left: 50%;
  position: absolute;
  top: 50%;
  width: 100%;
}
/* line 39, ../scss/profile.scss */
.profile-header .cover-area .quick-action {
  background: #fff;
  display: table;
  width: 100%;
}
/* line 44, ../scss/profile.scss */
.profile-header .cover-area .quick-action > div {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-bottom: 1px solid #dadade;
  display: table-cell;
  height: 60px;
  vertical-align: middle;
  width: auto;
}
/* line 53, ../scss/profile.scss */
.profile-header .cover-area .quick-action .navigation,
.profile-header .cover-area .quick-action .search {
  border-left: 1px solid #dadade;
}
/* line 58, ../scss/profile.scss */
.profile-header .cover-area .quick-action .navigation {
  font-size: 0;
  padding: 0 30px;
  width: 210px;
}
/* line 63, ../scss/profile.scss */
.profile-header .cover-area .quick-action .navigation a {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-transition: border-color 0.3s ease, color 0.3s ease;
  -o-transition: border-color 0.3s ease, color 0.3s ease;
  -webkit-transition: border-color 0.3s ease, color 0.3s ease;
  transition: border-color 0.3s ease, color 0.3s ease;
  border-bottom: 6px solid #fff;
  color: #333437;
  display: inline-block;
  font-size: 16px;
  line-height: 59px;
  height: 59px;
  text-align: center;
  width: 50%;
}
/* line 75, ../scss/profile.scss */
.profile-header .cover-area .quick-action .navigation a:hover, .profile-header .cover-area .quick-action .navigation a.active {
  border-color: #00bac6;
  color: #00bac6;
}
/* line 83, ../scss/profile.scss */
.profile-header .cover-area .quick-action .follow {
  font-size: 0;
  padding: 0 15px;
  text-align: right;
  vertical-align: middle;
  width: 260px;
}
/* line 90, ../scss/profile.scss */
.profile-header .cover-area .quick-action .follow a,
.profile-header .cover-area .quick-action .follow span,
.profile-header .cover-area .quick-action .follow .keepo-icon {
  display: inline-block;
  vertical-align: middle;
}
/* line 97, ../scss/profile.scss */
.profile-header .cover-area .quick-action .follow a {
  -moz-box-shadow: #099ca5 0 2px 0;
  -webkit-box-shadow: #099ca5 0 2px 0;
  box-shadow: #099ca5 0 2px 0;
  -moz-transition: background-color 0.3s linear;
  -o-transition: background-color 0.3s linear;
  -webkit-transition: background-color 0.3s linear;
  transition: background-color 0.3s linear;
  background: #00bac6;
  color: #fff;
  font-size: 0;
  height: 28px;
  line-height: 28px;
  text-align: center;
  width: 140px;
}
/* line 108, ../scss/profile.scss */
.profile-header .cover-area .quick-action .follow a:hover {
  background: #099ca5;
}
/* line 112, ../scss/profile.scss */
.profile-header .cover-area .quick-action .follow a span {
  font-size: 12px;
  font-weight: 800;
  text-transform: uppercase;
}
/* line 118, ../scss/profile.scss */
.profile-header .cover-area .quick-action .follow a .keepo-icon {
  font-size: 18px;
}
/* line 121, ../scss/profile.scss */
.profile-header .cover-area .quick-action .follow a .keepo-icon::before {
  margin: 0 5px 0 0;
}
/* line 127, ../scss/profile.scss */
.profile-header .cover-area .quick-action .follow .total-follower {
  -moz-box-shadow: #dadade 0 2px 0;
  -webkit-box-shadow: #dadade 0 2px 0;
  box-shadow: #dadade 0 2px 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-color: #dadade;
  border-style: solid;
  border-width: 1px 1px 0 0;
  color: #9c9eac;
  font-size: 14px;
  height: 28px;
  line-height: 26px;
  padding: 0 15px;
}
/* line 141, ../scss/profile.scss */
.profile-header .cover-area .quick-action .search {
  border-right: 1px solid #dadade;
}
/* line 144, ../scss/profile.scss */
.profile-header .cover-area .quick-action .search input[type="text"] {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: none;
  color: #333437;
  height: 59px;
  font-size: 16px;
  padding: 0 20px;
  width: 100%;
}
/* line 61, ../../../../../../usr/local/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/css3/_user-interface.scss */
.profile-header .cover-area .quick-action .search input[type="text"]:-moz-placeholder {
  color: #c2c2c7;
}
/* line 64, ../../../../../../usr/local/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/css3/_user-interface.scss */
.profile-header .cover-area .quick-action .search input[type="text"]::-moz-placeholder {
  color: #c2c2c7;
}
/* line 67, ../../../../../../usr/local/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/css3/_user-interface.scss */
.profile-header .cover-area .quick-action .search input[type="text"]:-ms-input-placeholder {
  color: #c2c2c7;
}
/* line 56, ../../../../../../usr/local/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/css3/_user-interface.scss */
.profile-header .cover-area .quick-action .search input[type="text"]::-webkit-input-placeholder {
  color: #c2c2c7;
}
/* line 154, ../scss/profile.scss */
.profile-header .cover-area .quick-action .search input[type="text"]:focus {
  outline: none;
}
/* line 259, ../scss/profile.scss */
.profile-header .profile-detail {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 35px;
  position: absolute;
  top: 20px;
  width: 100%;
}
/* line 266, ../scss/profile.scss */
.profile-header .profile-detail .author-thumb {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 120px;
}
/* line 270, ../scss/profile.scss */
.profile-header .profile-detail .author-thumb a {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  border: 3px solid #fff;
  display: block;
  overflow: hidden;
  height: 114px;
  width: 114px;
}
/* line 280, ../scss/profile.scss */
.profile-header .profile-detail .author-thumb img {
  height: auto;
  max-height: 100%;
  max-width: 100%;
  width: auto;
}
/* line 288, ../scss/profile.scss */
.profile-header .profile-detail .info-wrap {
  color: #fff;
  font-size: 30px;
  font-weight: 800;
  line-height: 35px;
  margin-top: 5px;
  height: 35px;
  overflow: hidden;
}
/* line 299, ../scss/profile.scss */
.profile-header .profile-adv {
  background: #333437;
  display: block;
  height: 250px;
  width: 310px;
}

@media only screen and (max-width: 1280px) {
  /* line 317, ../scss/profile.scss */
  .cover-area {
    width: 620px;
  }

  /* 2 columns */
}
@media only screen and (min-width: 1281px) and (max-width: 1600px) {
  /* line 321, ../scss/profile.scss */
  .cover-area {
    width: 930px;
  }

  /* 3 columns */
}
@media only screen and (min-width: 1601px) {
  /* line 325, ../scss/profile.scss */
  .cover-area {
    width: 1240px;
  }

  /* 4 columns */
}
