@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?45287310');
  src: url('../font/fontello.eot?45287310#iefix') format('embedded-opentype'),
       url('../font/fontello.woff2?45287310') format('woff2'),
       url('../font/fontello.woff?45287310') format('woff'),
       url('../font/fontello.ttf?45287310') format('truetype'),
       url('../font/fontello.svg?45287310#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?45287310#fontello') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-search:before { content: '\e800'; } /* '' */
.icon-money:before { content: '\e801'; } /* '' */
.icon-pencil:before { content: '\e802'; } /* '' */
.icon-desktop:before { content: '\e803'; } /* '' */
.icon-my-issue:before { content: '\e804'; } /* '' */
.icon-comment:before { content: '\e805'; } /* '' */
.icon-card:before { content: '\e806'; } /* '' */
.icon-my-draft:before { content: '\e807'; } /* '' */
.icon-setting:before { content: '\e808'; } /* '' */
.icon-facebook:before { content: '\e809'; } /* '' */
.icon-twitter:before { content: '\e80a'; } /* '' */
.icon-whatsapp:before { content: '\e80b'; } /* '' */
.icon-tumblr:before { content: '\e80c'; } /* '' */
.icon-twitch:before { content: '\e80d'; } /* '' */
.icon-vine:before { content: '\e80e'; } /* '' */
.icon-vimeo-squared:before { content: '\e80f'; } /* '' */
.icon-wordpress:before { content: '\e810'; } /* '' */
.icon-youtube:before { content: '\e811'; } /* '' */
.icon-youtube-play:before { content: '\e812'; } /* '' */
.icon-skype:before { content: '\e813'; } /* '' */
.icon-pinterest:before { content: '\e814'; } /* '' */
.icon-pinterest-circled:before { content: '\e815'; } /* '' */
.icon-reddit:before { content: '\e816'; } /* '' */
.icon-linkedin:before { content: '\e817'; } /* '' */
.icon-instagram:before { content: '\e818'; } /* '' */
.icon-gplus:before { content: '\e819'; } /* '' */
.icon-right-big:before { content: '\e81a'; } /* '' */
.icon-star:before { content: '\e81b'; } /* '' */
.icon-fire:before { content: '\e81c'; } /* '' */
.icon-video:before { content: '\e81d'; } /* '' */
.icon-path:before { content: '\e81e'; } /* '' */
.icon-gallery:before { content: '\e81f'; } /* '' */
.icon-android:before { content: '\e820'; } /* '' */
.icon-apple:before { content: '\e821'; } /* '' */
.icon-flickr:before { content: '\e822'; } /* '' */
.icon-paypal-1:before { content: '\e823'; } /* '' */
.icon-copyright:before { content: '\e824'; } /* '' */
.icon-info-circled:before { content: '\e825'; } /* '' */
.icon-help-circled:before { content: '\e826'; } /* '' */
.icon-read:before { content: '\e827'; } /* '' */
.icon-smile:before { content: '\e828'; } /* '' */
.icon-chart-bar-outline:before { content: '\e829'; } /* '' */
.icon-puzzle-outline:before { content: '\e82a'; } /* '' */
.icon-flag:before { content: '\e82b'; } /* '' */
.icon-photo:before { content: '\e82c'; } /* '' */
.icon-view:before { content: '\e82d'; } /* '' */
.icon-cancel-outline:before { content: '\e82e'; } /* '' */
.icon-arrow-up:before { content: '\e82f'; } /* '' */
.icon-left-big:before { content: '\e830'; } /* '' */
.icon-correct:before { content: '\e831'; } /* '' */
.icon-ok-squared:before { content: '\e832'; } /* '' */
.icon-wrong:before { content: '\e833'; } /* '' */
.icon-code:before { content: '\e834'; } /* '' */
.icon-plus-squared:before { content: '\e835'; } /* '' */
.icon-user:before { content: '\e836'; } /* '' */
.icon-point:before { content: '\e837'; } /* '' */
.icon-mail:before { content: '\e838'; } /* '' */
.icon-videocam:before { content: '\e839'; } /* '' */
.icon-camera:before { content: '\e83a'; } /* '' */
.icon-doc:before { content: '\e83b'; } /* '' */
.icon-trash:before { content: '\e83c'; } /* '' */
.icon-location:before { content: '\e83d'; } /* '' */
.icon-tag:before { content: '\e83e'; } /* '' */
.icon-thumbs-up:before { content: '\e83f'; } /* '' */
.icon-eye:before { content: '\e840'; } /* '' */
.icon-t-shirt:before { content: '\e841'; } /* '' */
.icon-wallet:before { content: '\e842'; } /* '' */
.icon-megaphone:before { content: '\e843'; } /* '' */
.icon-globe:before { content: '\e844'; } /* '' */
.icon-down:before { content: '\e845'; } /* '' */
.icon-up:before { content: '\e846'; } /* '' */
.icon-left:before { content: '\e847'; } /* '' */
.icon-right:before { content: '\e848'; } /* '' */
.icon-plus:before { content: '\e849'; } /* '' */
.icon-reply:before { content: '\e84a'; } /* '' */
.icon-check:before { content: '\e84b'; } /* '' */
.icon-underline:before { content: '\e84c'; } /* '' */
.icon-strike:before { content: '\e84d'; } /* '' */
.icon-list-numbered:before { content: '\e84e'; } /* '' */
.icon-list-bullet:before { content: '\e84f'; } /* '' */
.icon-superscript:before { content: '\e850'; } /* '' */
.icon-subscript:before { content: '\e851'; } /* '' */
.icon-table:before { content: '\e852'; } /* '' */
.icon-paragraph:before { content: '\e853'; } /* '' */
.icon-text-height:before { content: '\e854'; } /* '' */
.icon-text-width:before { content: '\e855'; } /* '' */
.icon-align-left:before { content: '\e856'; } /* '' */
.icon-align-center:before { content: '\e857'; } /* '' */
.icon-align-right:before { content: '\e858'; } /* '' */
.icon-align-justify:before { content: '\e859'; } /* '' */
.icon-list:before { content: '\e85a'; } /* '' */
.icon-indent-left:before { content: '\e85b'; } /* '' */
.icon-indent-right:before { content: '\e85c'; } /* '' */
.icon-bold:before { content: '\e85d'; } /* '' */
.icon-italic:before { content: '\e85e'; } /* '' */
.icon-header:before { content: '\e85f'; } /* '' */
.icon-ajust:before { content: '\e860'; } /* '' */
.icon-qrcode:before { content: '\e861'; } /* '' */
.icon-tasks:before { content: '\e862'; } /* '' */
.icon-file-code:before { content: '\e863'; } /* '' */
.icon-put-video:before { content: '\e864'; } /* '' */
.icon-link:before { content: '\e865'; } /* '' */
.icon-unlink:before { content: '\e866'; } /* '' */
.icon-attention:before { content: '\e867'; } /* '' */
.icon-attention-alt:before { content: '\e868'; } /* '' */
.icon-resize:before { content: '\e869'; } /* '' */
.icon-calendar:before { content: '\e86a'; } /* '' */
.icon-params:before { content: '\e86b'; } /* '' */
.icon-music:before { content: '\e86c'; } /* '' */
.icon-sound:before { content: '\e86d'; } /* '' */
.icon-heart:before { content: '\e86e'; } /* '' */
.icon-lightbulb:before { content: '\e86f'; } /* '' */
.icon-mobile:before { content: '\e870'; } /* '' */
.icon-key:before { content: '\e871'; } /* '' */
.icon-shop:before { content: '\e872'; } /* '' */
.icon-truck:before { content: '\e873'; } /* '' */
.icon-attach:before { content: '\e874'; } /* '' */
.icon-lock:before { content: '\e875'; } /* '' */
.icon-paper-plane:before { content: '\e876'; } /* '' */
.icon-cloud:before { content: '\e877'; } /* '' */
.icon-database-1:before { content: '\e878'; } /* '' */
.icon-sort-number-up:before { content: '\e879'; } /* '' */
.icon-sort-number-down:before { content: '\e87a'; } /* '' */
.icon-certificate:before { content: '\e87b'; } /* '' */
.icon-logout:before { content: '\e87c'; } /* '' */
.icon-spin5:before { content: '\e87d'; } /* '' */
.icon-star-1:before { content: '\e87e'; } /* '' */
.icon-star-empty:before { content: '\e87f'; } /* '' */
.icon-star-half-alt:before { content: '\e880'; } /* '' */
.icon-star-half:before { content: '\e881'; } /* '' */
.icon-cw-circled:before { content: '\e882'; } /* '' */
.icon-quiz:before { content: '\e883'; } /* '' */
.icon-cancel:before { content: '\e884'; } /* '' */
.icon-quote2:before { content: '\e885'; } /* '' */
.icon-quote:before { content: '\e886'; } /* '' */